.Settings {
    padding: 20px;
    text-align: center;
}

.Settings-header {
    margin-bottom: 20px;
}

.settings-options {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.option {
    margin: 10px 0;
}
